body {
  font-family: "Arial", sans-serif;  
  font-size: 8;
  background-color: rgb(24, 19, 24);
  color: rgb(0, 0, 0);
  overflow-y: hidden;
  overflow-x: hidden;
  letter-spacing: 0.5px;
}

ul {
    list-style-type: none;
}

.main {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42.5vw;
  flex-wrap: wrap;
  flex-direction: row;
  height: 49.3vw;
  background-color: green;
}

.leftbox {
  display: flex;
  background-color: antiquewhite;
  width: 28vw;
  margin-top: -1.5%;
  height: 45vw;
  padding: 1rem;
  box-sizing: border-box;
  border-style: double;
}

.toprightbox {
  margin-top: -16.66vw;
  display: flex;
  background-color: antiquewhite;
  width: 14vw;
  height: 29vw;
  padding: 1rem;
  box-sizing: border-box;
  border-style: double;
}

.bottomrightbox {
  display: flex;
  background-color: antiquewhite;
  width: 14vw;
  height: 15.5vw;
  margin-left: auto; 
  padding: 1rem;
  box-sizing: border-box;
  border-style: double;
  margin-top: -20.5vw; /* Move the bottom right box to the bottom */
}

.bottomrightcontent{
  display: flex;
  min-width: 0;
  min-height: 0;
  overflow-y: auto;



}

.toprightcontent {
  display: flex;
  overflow-y: auto;



}

.leftcontent {
  display: flex;
  overflow-y: auto;

}